@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upgrade</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-8">
                <p><h4>Benefits of being an owner:</h4><br />
                You can list your own properties and manage them as you like.
               
                </p>
                </div>
                <label class="control-label col-md-8">Become an Owner</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label class="switch">
                            <input type="checkbox" name="upgrade" value="true" data-toggle="toggle" data-size="large">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top:50px">
                <div class="col-md-offset-8 col-md-4">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

