@{
    ViewBag.Title = "Contact SearchHestia anytime";
}
<h2>@ViewBag.Title.</h2>


<address>
    Thessaloniki, Leontos sofou 3<br />
    <abbr title="Phone">Phone:</abbr>
    2310257092
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:searchestiasup@gmail.com">searchestiasup@gmail.com</a><br />
</address>